[alias]
    brc = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(color:bold blue)%(authorname)%(color:reset) - (%(color:green)%(committerdate:relative)%(color:reset))'
    la = log --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -n10
    st = status
    br = branch
    co = checkout
    ci = commit   
    cp = cherry-pick
    sd = diff --name-status
    sw = switch
    wc = whatchanged
    last = whatchanged -1 HEAD
    history = log --pretty=format:\"%h %cd | %s%d [%an]\" --graph --date=local
    aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
    dn = diff --name-only

[apply]
    whitespace = fix

[color]
    status = always
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[core]
    editor = nvim
    pager = delta

[color "status"]
    added = green
    changed = red
    untracked = cyan

[diff]
    tool = nvimdiff

[difftool]
    prompt = false

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[pull]
    autoStash = true

[rebase]
    autoStash = true

[user]
    email = ofornander@gmail.com
    name = Carl Ola Fornander
